.rounded-button {
    padding: 10px 15px; /* Внутренние отступы */
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;  /* Убираем рамку */
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Плавный переход цвета */
    border-radius: 20px;      /* Закругление углов */
}

