.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.category-list {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: space-evenly; /* Уравновешиваем отступы между элементами */
}

.category-item {
    flex: 0 1 45%; /* Элемент будет занимать 45% ширины с возможностью уменьшения */
    margin-bottom: 20px; /* Пробел между рядами */
    box-sizing: border-box; /* Чтобы паддинги и бордеры не увеличивали ширину элемента */
    text-align: center;
}

/* Другие стили, которые уже у тебя есть, оставим без изменений */