.product {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Позволяет элементам "перепрыгивать" на следующую строку */
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 100%; /* Позволяет элементу занимать всю ширину */
}

.img {
    width: 100%; /* Изображение тоже занимает всю ширину */
    background: lightgray; /* Фон для случая, если изображение не загружается */
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
}

.description {
    font-size: 0.8em;
}

.price {
    width: 100%; /* Цена занимает всю ширину */
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}